<div class="container">
  <div class="row">
    <div class="col">

      <div class="title">
        <h2> Todo List </h2>
      </div>

      <div class="input-group new-task">
        <textarea [(ngModel)]="newTask.taskDesc" class="form-control" placeholder="Add a new task..." aria-label="Add a new task" aria-describedby="button-addon2"></textarea>
        <button class="btn btn-primary" type="button" (click)="addNewTask(newTask)" id="button-addon2"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>


      <div *ngFor="let task of todoList" class="card">
        <div class="row g-0">
          <div class="col-md-11">
            <div class="card-body row">
              <div class="btn-group hover-buttons col-md-2" role="group" aria-label="Button group" *ngIf="editTaskId === 0">
                <button type="button" class="btn btn-danger" (click)="setStatusNotStarted(task)" [disabled]="task.taskStatus == 'Not Started'"><fa-icon [icon]="faXmark"></fa-icon></button>
                <button type="button" class="btn btn-warning" (click)="setStatusStarted(task)" [disabled]="task.taskStatus == 'Started'"><fa-icon [icon]="faSpinner"></fa-icon></button>
                <button type="button" class="btn btn-success" (click)="setStatusCompleted(task)" [disabled]="task.taskStatus == 'Completed'"><fa-icon [icon]="faCheck"></fa-icon></button>
              </div>
              <h6 class="card-text col-md-10" *ngIf="editTaskId != task.taskId">{{task.taskDesc}}</h6>
              <textarea *ngIf="editTaskId == task.taskId" [(ngModel)]="task.taskDesc" placeholder={{task.taskDesc}} class="col-md-10"></textarea>
            </div>
          </div>
          <div class="col-md-1">
            <div class="card-body">
              <div class="btn-group" role="group" aria-label="Button group" *ngIf="editTaskId != task.taskId">
                <button type="button" class="btn btn-primary" (click)="editTask(task)"><fa-icon [icon]="faPen"></fa-icon></button>
                <button type="button" class="btn btn-primary" (click)="removeTask(task)"><fa-icon [icon]="faTrash"></fa-icon></button>
              </div>
              <div class="btn-group" role="group" aria-label="Button group" *ngIf="editTaskId == task.taskId">
                <button type="button" class="btn btn-primary" (click)="editComplete(task)"><fa-icon [icon]="faCheck"></fa-icon></button>
                <button type="button" class="btn btn-primary" (click)="editCancel(task)"><fa-icon [icon]="faXmark"></fa-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


