<div class="container">
  <div class="row">
    <div class="col">

      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="newTask.taskDesc" class="form-control" placeholder="Add a new task..." aria-label="Add a new task" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
      </div>


    <div *ngFor="let task of todoList" class="card">
      <div class="row g-0">
        <div class="col-md-10">
          <div class="card-body ">
            <!-- <h5 class="card-title">{{task.taskDesc}}</h5> -->
            <h6 class="card-text">{{task.taskDesc}}</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-body">
            <div class="btn-group" role="group" aria-label="Button group">
              <button type="button" class="btn btn-primary">Done</button>
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-primary">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>


